doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Abundant Grace Electricals Concept

        link(rel='icon', type='image/x-icon', href='assets/rel.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap' rel='stylesheet')


        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Background Video
        video.bg-video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
            source(src='assets/mp4/bg1.mp4', type='video/mp4')

        // Masthead
        .masthead
            .masthead-content.text-white
                .container-fluid.px-4.px-lg-0
                    h1.fst-italic.lh-1.mb-4 Our Website is Under Maintenance
                    p.mb-5
                        | We're working hard to finish the development of this site.
                    
                    //- Google Forms Integration
                    //- Replace FORM_ID and entry.XXXXX with your actual Google Form values

                    //- form#contactForm(action='https://docs.google.com/forms/d/e/FORM_ID/formResponse', method='POST', target='hidden_iframe')

                        //- Email address input

                        //- .row.input-group-newsletter
                            //- .col
                                //- input#email.form-control(
                                    //- name='entry.XXXXX',
                                    //- type='email',
                                    //- placeholder='Enter email address...',
                                    //- aria-label='Enter email address...',
                                    //- required
                                //- )
                            //- .col-auto
                                //- button#submitButton.btn.btn-primary(type='submit') Notify Me!
                        //- #emailError.invalid-feedback.mt-2
                            //- | Please enter a valid email address.

                        //- Submit success message

                        //- #submitSuccessMessage.d-none
                            //- .text-center.mb-3.mt-2
                                //- .fw-bolder Thank you for subscribing!
                                //- | We'll notify you when we launch.

                        //- Submit error message

                        //- #submitErrorMessage.d-none
                            //- .text-center.text-danger.mb-3.mt-2 Error sending message!
                    
                    //- iframe#hidden_iframe(name='hidden_iframe', style='display:none;')

        // Social Icons
        // For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands
        .social-icons
            .d-flex.flex-row.flex-lg-column.justify-content-center.align-items-center.h-100.mt-3.mt-lg-0
                a.btn.btn-dark.m-3(href='#!')
                    i.fab.fa-twitter
                a.btn.btn-dark.m-3(href='#!')
                    i.fab.fa-facebook-f
                a.btn.btn-dark.m-3(href='#!')
                    i.fab.fa-instagram

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
